/* FONTS */
$font-main: "Novecento WideDemiBold";
$font-additional: "HelveticaNeue";
$font-logo: "Pacifico";

/* COLORS */

$white:            #fff;
$black:            #666262;
$btw-header-nav:   #ccc;
$bg-icons:         #d8d1c9;
$bg-icons-hover:   #dfdfdf;
$nav-hover:        #87b672;
$page-title:       #fefefe;
$intro-title:      #524e4e;
$intro-text:       #8f8f8f;
$info-title:       #5f5b5b;
$info-text:        #8f8f8f;
$bg-team:          #efefef;
$team-title:       #5f5b5b;
$team-text:        #8f8f8f;
$intro-btn:        #87b672;
$service-title:    #666262;
$service-text:     #8f8f8f;
$bg-price:         #87b672;
$price-num:        #666262;
$price-perk:       #8f8f8f;
$post-title:       #666262;
$post-text:        #9b9999;
$sidebar-post-title: #666262;

/* media */
 
$mode-1200: 1200px; 
$mode-991:  991px; 
$mode-992:  992px;
$mode-850:  850px;
$mode-800:  800px;
$mode-700:  700px;
$mode-575:  575px;
$mode-410:  410px; /* used for portfolio works */
$mode-330:  330px; 

/* archive sideBar. Maybe rework somehow */






















