.header {
    position: relative;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    
    @include breakMax ($mode-991) {
        padding-top: 2rem;
    } 
}

.header__logo {
    font-size: 4rem;
    font-weight: 400;
    font-family: $font-logo;
    cursor: pointer;
    
    &.header__logo--white {
        color: $white;
    }
    &.header__logo--black {
        color: $black;
    }
}

.header__social {
    display: flex;
    flex-direction: row;
    font-size: 3.2rem;
    color: $bg-icons;
    
}

.header__icon {
    margin-left: 1rem;
    transition: color .2s linear;
    
    &:first-child {
        margin-left: 0;
    }
    
    &:hover {
        color: $bg-icons-hover;
        cursor: pointer;
    }
}

.header__menu:before {
    display: block;
    content: "";
    widht: 100%;
    height: .1rem;
    margin: 3rem 0;
    background-color: $btw-header-nav;
    
    @include breakMax ($mode-991) {
        margin: 2rem 0;
    }
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    @include breakMax ($mode-991) {
        margin-bottom: 2rem;
    }
}

.header__nav {
    display: flex;
    flex-direction: row;


    @include breakMax ($mode-991) {
        display: none;
    }
    
    &.activeBurger {
        display: flex;
        position: absolute;
        flex-direction: column;

//        height: 25rem;
//        overflow: auto;
        
        background: rgba(0,0,0,0.85);

        top: 14rem;
        width: 95%;
        z-index: 3;
    }
}

.header__link {
    text-decoration: none;
    margin-left: 4rem;
    text-transform: uppercase;
    font-family: $font-main;
    font-size: 1.8rem;
    font-weight: 600;

    transition: color .2s linear;
    
    &.header__link--white {
        color: $white; 
    }
    &.header__link--black {
        color: $black;
        
        @include breakMax ($mode-991) {
            color: lighten($black, 25%);
        }
    }
    &.header__link--active {
        color: green;
    }
    &:hover {
        color: $nav-hover;
    }
    
    &:first-child {
        margin-left: 0;

    }
            
    @include breakMax ($mode-991){
        padding-bottom: 2rem;
        
        &:first-child {
            margin-left: 4rem;
            padding-top: 2rem;
        }
    }
}

.search__icon {
    display: block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    
    transition: fill .2s linear;
    
    &.search__icon--Home {
        fill: #ded6c7;
    }
    &.search__icon--Home:hover {
        fill: $white;
    }
    &.search__icon--NotHome {
        fill: #666262;
    }
    &.search__icon--NotHome:hover {
        fill: black;
    }
}








