.team {
    background-color: $bg-team;
}
.team__content {
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include breakMax ($mode-700) {
        padding-bottom: 0;
    }
}

.team__intro {
    text-align: center;
    margin: 0 auto 5rem;
    width: 70%;
    padding-top: 5rem;
    
    @include breakMax ($mode-700){
        width: 95%;
        margin-bottom: 3rem;
        padding-top: 3.5rem;
    }
}

.team__title {
    font-size: 2.2rem;
    font-weight: 600;
    
    line-height: 1.1em;
    text-transform: uppercase;
    color: $team-title;
    margin-bottom: 2.3rem;
}

.team__text {
    font-size: 1.6rem;
    font-weight: 400;
    
    line-height: 1.5;
    color: $team-text;
}

.team__item {
    width: 22.08333333%;
    padding: 0 0 2rem 4rem;   
    
    &:first-child {
        padding-left: 0;
    }
    
    @include breakMax ($mode-1200) {
        width: 45%;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1.5rem;
        
        &:first-child {
            padding-left: 1rem;
        }
    }
    @include breakMax ($mode-700){
        width: 100%;
    }
}


.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    
    @include breakMax ($mode-1200) {
        margin-right: auto;
        margin-left: auto;
    }
}

.team__name {
    font-size: 1.8rem;
    font-weight: 600;
    
    line-height: 1.3em;
    text-transform: uppercase;
    color: $team-title;
    margin: 2rem 0 1rem;
}

.team__pos,
.team__text {
    font-size: 1.6rem;
    font-weight: 400;
    
    line-height: 1.5em;
    color: $team-text;
}

.team__info:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
    margin: 2rem 0;
}

.team__text {
    margin-bottom: 2rem;
}




