<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    {{> sprite }}
    {{> body }}
    {{> footer }}

    
<!--{{> search_modal }}-->

    
    
    <!-- JS -->
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/assets/js/slider.js"></script>
    <script src="/assets/js/form_validateContact.js"></script>
    <script src="/assets/js/form_validate-comment.js"></script>
    <script src="/assets/js/burger.js"></script>
    <script src="assets/js/app.js"></script>
    
</body>
</html>
